.c2{
    background-color: #f1f1f1;
    height: 100vh;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/* Card Post*/
.card{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.198);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.textnav{
    float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  width: 200px;
}


/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    position: absolute;
    height: 200px;
    overflow: auto;
}
  
  /* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #9b20ccd2;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    padding: 1px 16px;
}
  
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

/*TEMAS, UPLOAD- POSTAGEM*/
.temas{
    margin-top: 30px;
}
input[type="file"] { 
    display: none; 
 }
 
.label-bordered {
    margin-top: 12px;
    border: 1px solid #727272;
    padding: 10px;
    border-radius: 5px;
}


/*DENTRO DO EDIT POST*/
.file{
    float: left;
    margin-top: 10px;
}

.temas1{
    margin-top: 20px;
}

.FAQ {
    margin-top: 30px;
    display: flex;
    margin-left: 15%;
}

ul {
    list-style: none;
}

.title {
    line-height: 50px;
    margin-top: 30px;
    display: flex;
    margin-left: 18%;
}

.question {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}

.answer {
    font-size:14px;
}

.message {
    margin-top: 30px;
    display: flex;
    margin-left: 18%;
}

textarea{
    display: flex;
    line-height: 20px;
    width: 50%;
    padding: 10px;
    height: 90px;
    resize: none;
}

.enviar {
    display: flex;
    background-color: #ccc;
    height: 33px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 80px;
    margin-left: 1%;
    margin-top: 5%;
    text-align: center;
}

