/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
  
body{
    margin:10px;
}
  
a{
    text-decoration: none;
}
  
/* esconde as ancoras da tela */
a.links{
    display: none;
}
  
/* content que contem os formulários */
.content{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
/* formatando o cabeçalho dos formulários */
.th1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
.th1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
h3{
    margin-left: 170px;
}
p{
    margin-bottom:15px;
}
p:first-child{
    margin: 0px;
}
label{
    color: #405c60;
    position: relative;
    margin-bottom: 5px;
}
  
/**** advanced input styling ****/
/* placeholder */
.entrada {
    outline: none;
}
  
.entrada:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}
  
/*estilo do botão submit */
.entrada[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
}
.entrada[type="submit"]:hover{
    background: #4ab3c6;
}

select {
    outline: none;
}
  
select:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}
  
/*estilo do botão submit */
select[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
}
select[type="submit"]:hover{
    background: #4ab3c6;
}
/*marcando os links para mudar de um formulário para outro */
.link{
    position: absolute;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    margin-top: -20px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
  
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
}
.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}
.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
}
  
/* estilos para para ambos os formulários */
 
#login{
    position: absolute;
    top: 100px; 
    width: 40%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #e6e6fa;
    border: 1px solid rgba(147, 184, 189,0.8);
}

/*@media(max-width: 660px){
    #logdin{
        position: absolute;
        top: 100px;
        width: 10000px;
        padding: 18px 6% 60px 6%;
        margin: 0 0 35px 0;
        background: #e6e6fa;
        border: 1px solid rgba(147, 184, 189,0.8);
    }
}*/

/*@media(max-width: 1080px){
    #login{
        position: absolute;
        top: 100px;
        width: 60%; 
        padding: 18px 6% 60px 6%;
        margin: 0 0 35px 0;
        background: #e6e6fa;
        border: 1px solid rgba(147, 184, 189,0.8);
    }
}*/

/* CENTRALIZANDO DIV */
.container{
    margin-top: 5%;
    margin-left: 1140px;
}

/* Espacamento no modal cadastro */
.modal-body{
    margin-top: 15px;
}

#cadastrar{
    margin-top: 10px;
}

#sobrenome_txt{
    margin-top: 10px;
}

/**/


