table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th, td {
    padding: 15px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 34px;
}
  
  /* Style the links inside the navigation bar */
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.textnav{
    float: right;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
    width: 200px;
}


/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    position: absolute;
    height: 200px;
    overflow: auto;
}
  
  /* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #9b20ccd2;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  